<a routerLink="/admin"><button class="btn btn-success m-auto d-block">QUẢN TRỊ</button></a>
<div class="container-cv" *ngIf="profile">
    <div class="sub-cv">

    </div>
    <div class="sub-cv-2">

    </div>
    <img src="assets/image/pen_PNG7404.png" id="bg-image" alt="">
    <div class="main-cv">
        <div class="main-cv-left">
            <div class="avatar">
                <div class="main-avatar">
                    <div class="image">
                        <img src="assets/image/avatar-image.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="sub-detail"></div>

            <div class="profile">
                <div class="title-top">
                    PROFILE
                    <div class="title-top-arrow-left">

                    </div>
                    <div class="title-top-arrow-right">

                    </div>
                </div>
                <i class="fa-solid fa-briefcase"></i>
                <p>{{ profile.applyFor }}</p>
                <i class="fa-solid fa-cake-candles"></i>
                <p>{{ profile.birthday }}</p>
                <i class="fa-solid fa-location-dot"></i>
                <p>{{ profile.born }}</p>
                <i class="fa-solid fa-globe"></i>
                <p style="cursor: pointer;" (click)="redirectToPorfolio()">{{ profile.porfolio }}</p>
                <div class="icon-bottom">
                    <i class="fa-solid fa-address-card"></i>
                </div>
            </div>
            <div class="contact">
                <div class="title-top">
                    CONTACT
                    <div class="title-top-arrow-left">

                    </div>
                    <div class="title-top-arrow-right">

                    </div>
                </div>
                <i class="fa-solid fa-phone"></i>
                <p>{{ profile.phoneNumber }}</p>
                <i class="fa-brands fa-facebook-square"></i>
                <p><a style="cursor: pointer;" (click)="directToFacebook()">{{ profile.facebook }}</a></p>
                <i class="fa-solid fa-envelope"></i>
                <p>{{ profile.email }}</p>
                <div class="icon-bottom">
                    <i class="fa-solid fa-phone"></i>
                </div>
            </div>
            <div class="target">
                <div class="title-top">
                    TARGET
                    <div class="title-top-arrow-left">

                    </div>
                    <div class="title-top-arrow-right">

                    </div>
                </div>
                <i class="fa-solid fa-bullseye"></i>
                <p>- {{ profile.target }}</p>
                <div class="icon-bottom">
                    <i class="fa-solid fa-bullseye"></i>
                </div>
            </div>
            <div class="skill">
                <div class="title-top">
                    SKILLS
                    <div class="title-top-arrow-left">

                    </div>
                    <div class="title-top-arrow-right">

                    </div>
                </div>
                <div class="bar-1" *ngFor="let sk of skills">
                    <div class="box-skill">
                        <div class="skill-image">
                            <img [src]="sk.image" alt="">
                        </div>
                        <div class="title">{{ sk.name }}</div>
                    </div>
                    <div class="bar" id="{{sk.point}}%">
                        <div class="bg-bar-inner">
                            <div class="bar-inner">

                            </div>
                        </div>
                        <div class="bar-percent">{{ sk.point }}%</div>
                    </div>
                </div>
                <div class="icon-bottom">
                    <i class="fa-solid fa-person-rays"></i>
                </div>
            </div>

            <div class="skill">
                <div class="title-top">
                    LANGUAGE
                    <div class="title-top-arrow-left">

                    </div>
                    <div class="title-top-arrow-right">

                    </div>
                </div>
                <div class="bar-1">
                    <div class="title">Tiếng anh cơ bản</div>
                    <div class="bar" id="70%">
                        <div class="bg-bar-inner">
                            <div class="bar-inner">

                            </div>
                        </div>
                        <div class="bar-percent">70%</div>
                    </div>
                </div>

                <div class="icon-bottom">
                    <i class="fa-solid fa-book-journal-whills"></i>
                </div>
            </div>
        </div>
        <div class="main-cv-right">
            <div class="main-right-top">
                <h1><label id="last_name">{{ profile.fullname.split(" ")[0] }}</label> {{
                    profile.fullname.slice(profile.fullname.split(" ")[0].length + 1, profile.fullname.length) }}</h1>
                <p id="major">BACKEND DEVELOPER</p>
                <p id="profile">Hồ sơ cá nhân</p>
                <p id="strength"><b>Điểm mạnh:</b> {{ profile.strength }}</p>
            </div>
            <div class="experience">
                <h2>Kinh nghiệm</h2>
                <p>Chưa có kinh nghiệm làm việc tại các công ty</p>
            </div>
            <div class="project">
                <h2>Dự án</h2>
                <div *ngFor="let project of projects" class="main-mark">
                    <div>
                        <span>{{ project.start_at }}</span> <br> <span>{{ project.end_at }}</span>
                    </div>
                    <div class="mark">
                    </div>
                    <div class="list-main-content">
                        <h3>{{ project.name }}</h3>
                        <span>Vai trò: {{ project.role }}</span>
                        <p id="project-desc">
                            {{ project.desc }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="education">
                <h2>Trường học</h2>
                <div *ngFor="let sch of schools" class="mt-5">
                    <div class="list-school">
                        <div class="main-mark">
                            <div>
                                <span>{{ sch.start_at }} -</span> <br> <span>{{ sch.end_at }}</span>
                            </div>
                            <div class="mark">
                            </div>
                            <div class="list-main-content">
                                <h3>{{ sch.name }}</h3>
                                <span *ngIf="sch.major" style="margin-top: 15px; display: block;">Chuyên nghành: {{
                                    sch.major }}</span>
                            </div>
                        </div>
                    </div>
                    <h3>* Thành tích học tập *</h3>
                    <p *ngIf="sch.archievements.length == 0">- Chưa có thành tích nổi bật</p>
                    <div *ngFor="let archieve of sch.archievements" class="main-mark">
                        <div>
                            <span>{{ archieve.start_at }} -</span> <br> <span>{{ archieve.end_at }}</span>
                        </div>
                        <div class="mark">
                        </div>
                        <div class="list-main-content">
                            <span>{{ archieve.name }}</span>
                            <p id="project-desc">
                                {{ archieve.desc }}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>