<div class="container_detail">
    <div class="main_content">
        <div class="img">
            <img src="" alt="">
        </div>

        <div class="content">
            <h2 name="product_name" id="name_pr"><?php echo $product_detail['product_name'] ?></h2> <br>
            <span id="status">Trạng thái: <span>
                    
                </span></span> <br>
            <hr style="color: #fff;">
            <span id="price">Giá: <span id="new_cost">
                </span> <del id="old_cost"><?php if ($product_detail['discount'] > 0) echo number_format($product_detail["price"], 0, '.', '.') . "đ"; ?></del>
            </span>
            <span id="model">Dành cho đối tượng:
                
                </span> <br>
            <span>Thương hiệu: <?php echo $product_detail['cate_name'] ?></span> <br>
            <span>Phí vận chuyển: </span> <span id="ship">30.000 đ</span> <br>
            <span>Số lượng <input type="button" id="minus_detail" value="-"><input type="button" id="quantity_detail"><input type="button" id="plus_detail" value="+"> </span>

            <div class="btn">
                <button id="addtocart" onclick=''>Thêm vào giỏ hàng</button>
                <button id="buy_now">Mua ngay</button>
            </div>
            <span id="check_session_js" hidden><?php echo $status_session ?></span>
        </div>

    </div>
    <div class="sub_detail">

        <div class="description">
            <h3 id="desc">Mô tả: </h3>
            <span id="desc_text"><?php echo $product_detail['description'] ?></span>
        </div>

        <div class="comment">
            <div class="main_comment">
                <h3>Bình luận về <?php echo $product_detail['product_name'] ?></h3>
                <form action="" method="POST" id="comment_form">
                    <span id="cmt_error"></span>
                    <div class="cmt_input">
                        <input type="text" name="cmt_content" id="cmt_content" placeholder="Để lại bình luận tại đầy...">
                    </div>
                    <button type="button" id="execute_comment">Gửi bình luận</button>
                </form>

                <h3>Bình luận (<span id="count_comment"></span>)</h3>

                    <div class="cmt_detail">
                        <div class="cmt_detail_img">
                            <img src="../../admin/user/<?php echo $rows['avatar'] ?>" alt="">
                        </div>
                        <div class="cmt_detail_infor">
                            <div class="cmt_detail_infor_top">
                                <strong><?php echo $rows['user_name'] ?></strong>
                                <span> - <?php echo get_comment_time($rows['comment_time']) ?></span>
                            </div>
                            <!-- <p><?php echo $rows['content'] ?></p> -->

                            <hr>
                        </div>
                    </div>

                <div class="pagination_cmt">
                    <i class='fa fa-angle-left'></i>
                    <ul></ul>
                    <i class='fa fa-angle-right'></i>

                    <input id="index_page_cmt" type="text" value="1" hidden>
                </div>

            </div>
        </div>
    </div>
    <div class="product_involve">
        <div class="title">
            <h2>Sản phẩm tương tự</h2>
        </div>
        <div class="list_involve">
                <div class="card">
                    <a href="?action=detail&id_pr=<?php echo $rows['product_id'] ?>">
                        <div class="img">
                            <img src="../../admin/product/<?php echo $rows['image'] ?>" alt="">
                        </div>
                    </a>
                    <div class="txt">
                        <div class="price_bt">
                            <div class="price">
                                <span class="old">
                                   
                                </span>
                                <span class="new" id="new_price">
                                </span>

                            </div>
                            <div class="bt">
                                <button>MUA NGAY</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
