<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Avatar</th>
            <th>Birthday</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Apply for</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of profile"  id="row_{{p.id}}">
            <td>{{ p.fullname }}</td>
            <td><img [src]="p.avatar" alt=""></td>
            <td>{{ p.birthday }}</td>
            <td>{{ p.phoneNumber }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.applyFor }}</td>
            <td>
                <a routerLink="update/{{ p.id }}"><button class="btn btn-warning">Sửa</button></a>
            </td>
        </tr>
    </tbody>
</table>
