<div class="container_list_product">
    <main>
        <section class="mid">
            <div class="left">
                <div class="filter_toggle">
                    <h3>BỘ LỌC</h3>
                </div>
                <aside class="filter">

                    <form action="" method="GET">
                        <h3>Khoảng Giá</h3>
                        <div class="filter_by_price">
                            <input id="min" autocomplete="off" type="number" name="min_price" placeholder="Từ">
                            <input id="max" autocomplete="off" type="number" name="max_price" placeholder="Đến">
                        </div>
                        <div class="filter">
                            <button type="button" id="bt_filter_price">ÁP DỤNG</button>
                        </div>
                        <h3>Theo thương hiệu</h3>
                        <div class="filter_by_brand">
                            <div class="brand" *ngFor="let cate of listCate">
                                <input type="checkbox" id="brand_{{ cate.cate_id }}" value="{{ cate.cate_id }}">
                                {{ cate.cate_name }}
                            </div>
                        </div>
                        <h3>Theo giới tính</h3> <br>
                        <div class="gender">
                            <input id="nam" type="checkbox" name="gender" value="0"> <span>Nam</span>
                            <input id="nu" type="checkbox" name="gender" value="1"> <span>Nữ</span>
                        </div>
                    </form>
                </aside>


                <aside class="best_viewer">
                    <h3>Xem nhiều nhất</h3>
                    <div class="main_best_viewer">
                        <article class="most_viewed_product" *ngFor="let v of listProductByView">
                            <div class="img_most_viewed_product">
                                <a routerLink="?action=detail&id_pr=<?php echo $rows['product_id'] ?>">
                                    <img src="{{ v.image }}" alt="">
                                </a>
                            </div>
                            <div class="price_most_viewed_product">
                                <div class="product_name_most_viewed_product">
                                    <a routerLink="">{{ v.product_name }}</a>
                                </div>
                                <div class="price">
                                    <p class="oldprice" *ngIf="v.discount">{{ formatCurrency(v.price) }}</p>
                                    <p class="newprice">{{ formatCurrency(v.price - (v.price * v.discount / 100)) }}</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--  -->
                </aside>
            </div>
            <div class="main_right">

                <h1>SẢN PHẨM <span id="count_products"></span></h1>
                <div class="right">
                    <article class="product" *ngFor="let p of listProduct">
                        <div class="product_img">
                            <a routerLink="">
                                <img src="{{ p.image }}" alt="">
                            </a>
                        </div>
                        <div class="product_name">
                            <p>{{ p.product_name }}</p>
                        </div>

                        <div class="text_product">
                            <div class="sale">
                                <span class="new_price">{{ formatCurrency(p.price - (p.price * p.discount / p.price))
                                    }}</span>
                                <span class="old_price" *ngIf="p.discount">{{ formatCurrency(p.price) }}</span>
                            </div>
                            <a routerLink="">Xem chi tiết</a>
                        </div>
                    </article>
                </div>
                <div class="pagination_product">
                    <i class='fa fa-angle-left'></i>
                    <ul></ul> <i class='fa fa-angle-right'></i>
                    <div class="goto">
                        <input id="index_page" type="text" value="1" hidden>
                    </div>
                </div>

                <aside class="best_viewer">
                    <h3>Xem nhiều nhất</h3>
                    <div class="main_best_viewer">
                        <!-- <?php foreach ($top_viewer as $rows) { ?> -->
                        <article class="most_viewed_product">
                            <div class="img_most_viewed_product">
                                <a routerLink="?action=detail&id_pr=<?php echo $rows['product_id'] ?>">
                                    <img src="../../admin/product/<?php echo $rows['image'] ?>" alt="">
                                </a>
                            </div>
                            <div class="price_most_viewed_product">
                                <div class="product_name_most_viewed_product">
                                    <a routerLink="?action=detail&id_pr=<?php echo $rows['product_id'] ?>">
                                        <!-- <?php echo $rows['product_name'] ?> -->
                                    </a>
                                </div>
                                <div class="price">
                                    <p class="oldprice">
                                        <!-- <?php
                                                            if ($rows['discount'] > 0) {
                                                                echo number_format($rows['price']) . " ₫";
                                                            } ?> -->
                                    </p>
                                    <p class="newprice">
                                        <!-- <?php echo number_format(round($rows['price'] - ($rows['price'] * $rows['discount'] / 100))) ?>
                                        ₫ -->
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--  -->
                </aside>
            </div>
        </section>

        <p id="filter_at_home" style="display: none">
            <!-- <?php echo $_REQUEST['cate_id'] ?> -->
        </p>
    </main>
</div>