<div class="dashboard-container">
    <aside>
        <div class="aside-header">
            <h1>ADMIN</h1>
        </div>
        <div class="aside_content">
            <ul>
                <li><a routerLink="./">TRANG CHỦ</a></li>
                <li><a routerLink="./profile">PROFILE</a></li>
                <li><a routerLink="./skill">SKILL</a></li>
                <li><a routerLink="./project">PROJECT</a></li>
                <li><a routerLink="./school">SCHOOL</a></li>
                <li><a routerLink="./archievement">ARCHIEVEMENT</a></li>
                <li><a routerLink="">TRANG NGƯỜI DÙNG CUỐI</a></li>
            </ul>
        </div>
    </aside>
    <main>
        <div class="main-header">
        </div>
        <div class="main_content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>