.dashboard-container {
    display: grid;
    grid-template-columns: 300px 1fr;
}

aside {
    width: 100%;
    height: 730px;
    border-right: 1px solid #c5c5c5;
    box-shadow: 0 0 10px #999;
}

.main-header {
    margin: 0 10px;
    border-bottom: 1px solid #c5c5c5;
    height: 90px;
}

.aside-header {
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-top: 15px;
    height: 90px;
    border-bottom: 1px solid #c5c5c5;
}

.aside-header h1 {
    font-weight: 700;
    font-size: 32px;
}

.aside_content ul{
    margin-top: 25px;
}
.aside_content ul li {
    font-size: 17px;
    transition: 0.4s;
}

.aside_content ul li a {
    color: #000;
    font-size: 16px;
    padding: 0 40px;
    width: 100%;
    height: 44px;
    display: inline-block;
    transition: all .4s;
}
.aside_content ul li a:hover{
    padding-left: 55px;
    transition: all .4s;
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    line-height: 105px;
}
.main-header img{
    width: 180px;
    margin: auto;
    display: block;
}