<div class="dashboard-container">
    <aside>
        <div class="aside-header">
            <h1>ADMIN</h1>
        </div>
        <div class="aside_content">
            <ul>
                <li><a href="">TRANG CHỦ</a></li>
                <li><a href="">LOẠI HÀNG</a></li>
                <li><a href="">HÀNG HÓA</a></li>
                <li><a href="">NGƯỜI DÙNG</a></li>
                <li><a href="">BÌNH LUẬN</a></li>
                <li><a href="">ĐƠN HÀNG</a></li>
                <li><a href="">BẢO HÀNH</a></li>
                <li><a href="">GIỎ HÀNG</a></li>
                <li><a href="">SLIDER</a></li>
                <li><a href="">THỐNG KÊ</a></li>
            </ul>
        </div>
    </aside>
    <main>
        <div class="main-header">
            
        </div>
        <div class="main_content">
            
        </div>
    </main>
</div>