<aside>
    <div class="aside-header">
        <h1>ADMIN</h1>
    </div>
    <div class="aside_content">
        <ul>
            <li><a routerLink="/admin">TRANG CHỦ</a></li>
            <li><a routerLink="/admin/category">LOẠI HÀNG</a></li>
            <li><a routerLink="/admin/phones">HÀNG HÓA</a></li>
            <li><a routerLink="/admin/user">NGƯỜI DÙNG</a></li>
            <li><a routerLink="/admin/comment">BÌNH LUẬN</a></li>
            <li><a routerLink="/admin/order">ĐƠN HÀNG</a></li>
            <li><a routerLink="/admin/warranty">BẢO HÀNH</a></li>
            <li><a routerLink="/admin/cart">GIỎ HÀNG</a></li>
            <li><a routerLink="/admin/slider">SLIDER</a></li>
            <li><a routerLink="/admin/statistical">THỐNG KÊ</a></li>
            <li><a href="">TRANG NGƯỜI DÙNG CUỐI</a></li>
        </ul>
    </div>
</aside>
