.slider {
    position: relative;
    height: 660px;
    background-color: #f5f5f5;
    overflow: hidden;
    width: 100%;
    color: #000;
}

.slider .main {
    height: 660px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.slider .main .txt {
    margin-left: 9%;
    margin-top: 1%;
}

.slider .main .txt h2, .slider .main .txt h2 p {
    opacity: 0;
    font-size: 50px;
    margin-bottom: 37px;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    margin-top: 40px;
}
.slider .main .txt h2 p{
    margin-top: 40px;
    display: block;
}

.slider .main .txt span {
    opacity: 0;
    font-size: 20px;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.slider .main button {
    margin-top: 40px;
    opacity: 0;
    font-size: 17px;
    padding: 8px 30px;
    cursor: pointer;
    border: 2px solid #000;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.slider .main img {
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    width: 30%;
    position: absolute;
    top: 25px;
    right: 32%;
    opacity: 0;
}

.slider .active_main {
    height: 660px;
    width: 100%;
    position: absolute;
}

.slider .active_main .txt {
    margin-left: 9%;
    margin-top: 1%;
}
.slider .active_main .txt h2{
    margin-top: 50px;
    color: #333;
}
.slider .active_main .txt h2, .slider .active_main .txt h2 p{
    font-size: 50px;
    margin-bottom: 37px;
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    transform: translateY(50px);
    animation: 4s ease-in-out 0s normal none infinite running chang-rotage-anim-1a;
}
.slider .active_main .txt h2 p{
    margin-bottom: 80px;
    transform: translateY(20px);
}

.slider .active_main .txt span {
    transition: all 1.4s cubic-bezier(0.77, 0, 0.175, 1);
    font-size: 20px;
    position: absolute;
    transform: translateY(40px);
}

.slider .active_main button {
    transition: all 2.1s cubic-bezier(0.77, 0, 0.175, 1);
    margin-top: 40px;
    font-size: 17px;
    padding: 8px 30px;
    cursor: pointer;
    border: 2px solid #000;
    transform: translateY(40px);
    z-index: 10 !important;
}

.slider .active_main img {
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    width: 30%;
    position: absolute;
    top: 25px;
    right: 12%;
    transition-delay: 0.3s;
}

.slider:hover .fa-chevron-left {
    opacity: 1;
    left: 0;
}

.slider .fa-chevron-left {
    position: absolute;
    top: 30%;
    left: 2%;
    opacity: 0;
    transition: 0.4s;
    font-size: 40px;
    padding: 20px 20px;
    cursor: pointer;
}

.slider:hover .fa-chevron-right {
    opacity: 1;
    right: 0;
}

.slider .fa-chevron-right {
    position: absolute;
    top: 30%;
    right: 2%;
    opacity: 0;
    transition: 0.4s;
    font-size: 40px;
    padding: 20px 20px;
    cursor: pointer;
}

.slider .dotbox {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    bottom: 180px;
}

.slider .dotbox .dot {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin: 0px 6px;
    cursor: pointer;
    border: 1px solid #C4C4C4;
    background-color: #C4C4C4;
}

.slider .dotbox .dot_active {
    transition: 0.3s;
    border: 1px solid #CFAB64;
    background-color: white;
}