
<footer>
    <section id="warranty">

    </section>
    <div class="footer_content">
        <div class="footer_top">
            <div class="register_email">
                <h3>Tham gia cùng chúng tôi</h3>
                <input type="text" placeholder="NHẬP EMAIL TẠI ĐÂY...">
                <button>ĐĂNG KÝ</button>
            </div>
            <hr>
        </div>
        <div class="footer_bottom">
            <div class="contact">
                <h4>LIÊN HỆ</h4>
                <ul>
                    <li>CÔNG TY CỔ PHẦN TRỰC TUYẾN YOUTH</li>
                    <li>VPGD: 80/47 Xuân phương - Nam Từ Liêm - Hà Nội</li>
                    <li>Hotline: 1800 6005</li>
                    <li>youthwatchs@gmail.com</li>
                </ul>
            </div>
            <div class="support">
                <h4>HỖ TRỢ</h4>
                <ol id="support">
                    <li><a routerLink="">Chính sách bảo hành</a></li>
                    <li><a routerLink="">Chính sách đổi hàng</a></li>
                    <li><a routerLink="">Chính sách bảo mật</a></li>
                    <li><a routerLink="">Chính sách vận chuyển</a></li>
                    <li><a routerLink="">Hướng dẫn thanh toán</a></li>
                </ol>
            </div>
            <div class="about_us" id="about_us">
                <h4>VỀ CHÚNG TÔI</h4>
                <ul>
                    <li>Với hơn 20 cửa hàng trải dài cả nước, Youth hy vọng sẽ mang đến
                        sự phục vụ chu đáo cho tất cả các khách hàng. Hệ thống cửa hàng
                        thời trang Youth luôn luôn lắng nghe những ý kiến đóng góp từ
                        các khách hàng với mục tiêu đẩy mạnh dịch vụ, mở rộng hệ thống
                        và làm hài lòng những vị khách đến trên toàn quốc.</li>
                </ul>
            </div>
            <div class="follow_us">
                <h4>THEO DÕI CHÚNG TÔI</h4>
                <ul id="icon">
                    <li><a routerLink=""><i class="fab fa-facebook"></i></a></li>
                    <li><a routerLink=""><i class="fab fa-instagram"></i></a></li>
                    <li><a routerLink=""><i class="fab fa-twitter"></i></a></li>
                    <li><a routerLink=""><i class="fab fa-youtube-square"></i></a></li>
                </ul>

                <iframe
                    src="https://www.facebook.com/plugins/page.php?routerLink=https%3A%2F%2Fwww.facebook.com%2FYOUTH-100990415587834&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </div>
</footer>
