<div class="slider">
  <div *ngFor="let p of sliders" class="main">
    <div class="txt">
      <h2>
        {{ p.name.split(" ")[0] }}
        <p> {{ p.name.slice(p.name.split(" ")[0].length + 1, p.name.length) }}</p>
      </h2>
      <span>Sự kết hợp hoàn hoảo giữa thiết kế và chức năng</span> <br>
      <a href=""><button>XEM THÊM</button></a>
    </div>
    <img class="image" src="{{ p.image }}" alt="">
  </div>

  <i class="fas fa-chevron-left"></i>
  <i class="fas fa-chevron-right"></i>
  <div class="dotbox">
    <div class="dot" id="dot1"></div>
    <div class="dot" id="dot2"></div>
    <div class="dot" id="dot3"></div>
  </div>
</div>

<div class="about-page">
  <div class="qualified-warrant">
    <span id="default-top">Chất lượng dẫn đầu</span>
    <img data-aos="fade-up" data-aos-offset="150" data-aos-duration="1000"
      src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648365156/pngkit_verified-stamp-png_2584135_wv0ckf.png"
      alt="">
  </div>
  <div class="delivery-policy">
    <span id="default-top">Giao hàng đúng giờ</span>
    <img class="ship-smoke" data-aos="fade-right" data-aos-offset="150" data-aos-duration="1000"
      src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648310103/ship-smoke_qbipyy.png" alt="">
    <img class="moto-ship" data-aos="fade-right" data-aos-offset="150" data-aos-duration="1000"
      src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648306529/ship-human_twwdak.png" alt="">
  </div>
  <div class="warranty-policy">
    <span id="default-top">Bảo hành toàn quốc</span>
    <img data-aos="fade-up" data-aos-offset="150" data-aos-duration="1000"
      src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648308311/warranty_qqsyyd.png" alt="">
  </div>
</div>

<div class="box_new_product">
  <div class="new_product" id="new_product">
    <div class="title">
      <p>PHONG CÁCH MỚI</p>
      <h2>SẢN PHẨM <br> MỚI</h2>
      <span>Những mẫu mới nhất, bộ sưu tập hoàn hảo dành cho bạn</span>
      <div class="bt">
        <a routerLink="">
          <a routerLink="?direct=product"><span>Xem tất cả</span> </a>
        </a>
      </div>
    </div>
    <div class="list_product">
      <div *ngFor="let p of newProduct" class="card" data-aos="fade-up" data-aos-offset="100" data-aos-delay="100"
        data-aos-duration="1000">
        <a routerLink="?action=detail&id_pr=<?php echo $rows['product_id'] ?>">
          <span id="new">NEW</span>
          <div class="img">
            <img src="{{ p.image }}" alt="">
          </div>
        </a>
        <div class="txt">
          <p>{{ p.product_name }}</p>
          <div class="price_bt">
            <span>{{ formatCurrency(p.price) }}</span>
            <a routerLink="?action=detail&id_pr=<?php echo $rows['product_id'] ?>">
              <button>MUA NGAY</button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Best seller -->
<div class="box_best_seller">
  <div class="best_seller" id="best_seller">
    <div class="title">
      <p>Bán chạy nhất</p>
      <h2>BEST SELLER</h2>
    </div>
    <div class="main_seller">
      <div class="slider_seller">
        <ngx-slick-carousel class="carousel" #slickModel="slick-carousel" [config]="bestSellerSlideConfig">
          <div ngxSlickItem class="card" *ngFor="let p of newProduct">
            <a routerLink="">
              <div class="img">
                <img src="{{ p.image }}" alt="">
              </div>
            </a>
            <div class="txt">
              <p>{{ p.product_name }}</p>
              <div class="price_bt">
                <div class="price">
                  <span>{{ formatCurrency(p.price) }}</span>
                </div>
                <a routerLink="" class="slider_best_seller">
                  <button>MUA NGAY</button>
                </a>
              </div>
            </div>

          </div>
        </ngx-slick-carousel>
      </div>
      <div class="list_seller">
        <div class="card" *ngFor="let p of newProduct">
          <a routerLink="">
            <span id="sale"></span>
            <span id="sale">HOT</span>
            <img src="{{ p.image }}" alt="">
          </a>
          <div class="txt">
            <p></p>
            <div class="price_bt">
              <div class="price">
                <span id="old" *ngIf="p.discount">{{ formatCurrency(p.price) }}</span> <br>
                <span id='new'>{{ formatCurrency(p.price - (p.price * p.discount / 100)) }}</span>
              </div>
              <a routerLink="?action=detail&id_pr=<?php echo $rows['product_id'] ?>">
                <button>MUA NGAY</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- For men -->
<div class="all_sale" id="hot_sale">
  <div class="title">
    <div data-aos="flip-right" data-aos-offset="100" data-aos-delay="300" data-aos-duration="1000">
      <p class="text-center">Lựa chọn cho phái mạnh</p>
      <a routerLink=""><span class="show_all">Xem tất cả</span></a>
    </div>
    <h2 class="text-center font-weight-bold" data-aos="fade-up" data-aos-offset="100" data-aos-delay="600"
      data-aos-duration="1000">ĐỒNG HỒ NAM</h2>

  </div>
  <div class="slider_sale">
    <div class="card" *ngFor="let p of forMen" data-aos="fade-right" data-aos-offset="100" data-aos-delay="800"
      data-aos-duration="1000">
      <a routerLink="">
        <span class="sale">-{{ p.discount }}%</span>
        <div class="img">
          <img src="{{ p.image }}" alt="">
        </div>
      </a>
      <div class="txt">
        <p>{{ p.product_name }}</p>
        <div class="price_bt">
          <div class="price">
            <span class="old" *ngIf="p.discount > 0">{{ formatCurrency(p.price) }}</span> <br>
            <span class="new">{{ formatCurrency(p.price - (p.price * p.discount / 100)) }}</span>
          </div>
          <a routerLink="">
            <button>MUA NGAY</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="box-background-main" data-aos="zoom-in" data-aos-offset="100" data-aos-delay="800" data-aos-duration="800">
  <div class="background-main"></div>
</div>

<!-- For women -->
<div class="all_sale" id="hot_sale">
  <div class="title">
    <div data-aos="flip-left" data-aos-offset="100" data-aos-delay="300" data-aos-duration="1000">
      <p class="text-center">Lựa chọn cho phái đẹp</p>
      <a routerLink=""><span class="show_all">Xem tất cả</span></a>
    </div>
    <h2 class="text-center font-weight-bold" data-aos="fade-up" data-aos-offset="100" data-aos-delay="600"
      data-aos-duration="1000">ĐỒNG HỒ NỮ</h2>
  </div>
  <div class="slider_sale ">
    <div class="card" *ngFor="let p of forWomen" data-aos="fade-left" data-aos-offset="100" data-aos-delay="800"
      data-aos-duration="1000">
      <a routerLink="">
        <span class="sale">-{{ p.discount }}%</span>
        <div class="img">
          <img src="{{ p.image }}" alt="">
        </div>
      </a>
      <div class="txt">
        <p>{{ p.product_name }}</p>
        <div class="price_bt">
          <div class="price">
            <span class="old" *ngIf="p.discount > 0">{{ formatCurrency(p.price)}}</span> <br>
            <span class="new">{{ formatCurrency(p.price - (p.price * p.discount / 100)) }}</span>
          </div>
          <a routerLink="">
            <button>MUA NGAY</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Hot sale -->

<div class="all_sale" id="hot_sale">
  <div class="title">
    <p>Giảm giá tốt nhất</p>
    <h2>HOT SALES</h2>
  </div>
  <div class="slider_sale">
    <ngx-slick-carousel class="carousel" #slickModel="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem class="card" *ngFor="let p of hotSale">
        <a routerLink="">
          <span class="sale">-{{ p.discount }}%</span>
          <div class="img">
            <img src="{{ p.image }}" alt="">
          </div>
        </a>
        <div class="txt">
          <p>{{ p.product_name }}</p>
          <div class="price_bt">
            <div class="price">
              <span class="old" *ngIf="p.discount > 0">{{ formatCurrency(p.price) }}</span> <br>
              <span class="new">{{ formatCurrency(p.price - (p.price * p.discount / 100)) }}</span>
            </div>
            <a routerLink="">
              <button>MUA NGAY</button>
            </a>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>

<div class="insta" id="contact_us">
  <div class="title">
    <h2>Instagram</h2>
  </div>
  <div class="list_img">
    <img src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648113196/imstagram_2_esxuyv.png" alt="">
    <img src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648113196/imstagram_3_phw4x9.png" alt="">
    <img src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648113196/imstagram_6_jizems.png" alt="">
    <img src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648113196/imstagram_4_g2qcqu.png" alt="">
    <img src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648113196/imstagram_5_qfxswj.png" alt="">
    <img src="https://res.cloudinary.com/dcalzi23m/image/upload/v1648113196/imstagram_1_ctuqjr.png" alt="">
  </div>
</div>