<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)" id="func_form" class="sliceForm">
    <div>
        <label for="">Mã loại hàng</label> <input type="text" formControlName="id" placeholder="Auto Number" readonly>
        <label for="">Tên loại hàng</label> <input type="text" formControlName="productName">
        <label for="">Hình ảnh</label> <input type="file" formControlName="productName">
        <label for="">Giá</label> <input type="text" formControlName="productName">
    </div>
    <div>
        <label for="">Giảm giá</label> <input type="text" formControlName="productName" placeholder="%">
        <label for="">Mô tả</label> <textarea name="" cols="30" rows="10" formControlName="desc"></textarea>
        <label for="">Mã loại hàng</label>
        <select name="" formControlName="categoryId">
            <option *ngFor="let cate of listCate" value="{{ cate.id }}">{{ cate.cate_name }}</option>
        </select>
    </div>
    <div>
        <button name="btn_add" class="btn btn-success">{{ action }}</button>
        <button type="button" class="ms-2 btn btn-danger">Hủy</button>
    </div>
</form>