table{
    width: 95%;
    margin: auto;
    margin-top: 10px;
}
#add{
    margin: 25px 0 0 25px;
    display: block;
}
#remove{
    margin-left: 5px;
}
.listBtnPage{
    display: block;
    text-align: center;
    margin-top: 25px;
}
table tr th{
    font-size: 16px;
}
table tr td{
    font-size: 15px;
}
table tr td img{
    width: 95px;
}
table tr #desc{
    width: 300px;
}
#add{
    width: 100px;
}
#desc{
    width: 200px;
}