<div class="container_detail" *ngIf="productDetail">
    <div class="main_content">
        <div class="img">
            <img src="{{ productDetail.image }}" alt="">
        </div>

        <div class="content" *ngIf="productDetail">
            <h2 name="product_name" id="name_pr">{{ productDetail.product_name }}</h2> <br>
            <span id="status">Trạng thái: <span>{{ status }}</span></span> <br>
            <hr style="color: #fff;">
            <span id="price">Giá: <span id="new_cost">{{ formatCurrency(productDetail.price - (productDetail.price *
                    productDetail.discount / 100 )) }}</span> <del id="old_cost" *ngIf="productDetail.discount > 0">{{
                    formatCurrency(productDetail.price) }}</del>
            </span>
            <span id="model">Dành cho đối tượng: {{ model }}</span> <br>
            <span>Thương hiệu: {{ productDetail.category.cate_name }}</span> <br>
            <span>Phí vận chuyển: </span> <span id="ship">30.000 đ</span> <br>
            <span>Số lượng
                <input type="button" id="minus_detail" value="-" (click)="minus_quantity()">
                <input type="text" id="quantity_detail" (input)="onChangeQuantity($event)" value="{{ currentQuantity }}">
                <input type="button" id="plus_detail" value="+" (click)="plus_quantity()">
            </span>

            <div class="btn">
                <button id="addtocart" (click)="addtocart()">Thêm vào giỏ hàng</button>
                <button id="buy_now">Mua ngay</button>
            </div>
        </div>

    </div>
    <div class="sub_detail">

        <div class="description">
            <h3 id="desc">Mô tả: </h3>
            <span id="desc_text">{{ productDetail.desc }}</span>
        </div>

        <div class="comment">
            <div class="main_comment">
                <h3>Bình luận về {{ productDetail.product_name }}</h3>
                <form action="" method="POST" id="comment_form">
                    <span id="cmt_error"></span>
                    <div class="cmt_input">
                        <input type="text" name="cmt_content" id="cmt_content"
                            placeholder="Để lại bình luận tại đây...">
                    </div>
                    <button type="button" id="execute_comment">Gửi bình luận</button>
                </form>

                <h3>Bình luận (<span id="count_comment"></span>)</h3>

                <div class="cmt_detail">
                    <div class="cmt_detail_img">
                        <img src="" alt="">
                    </div>
                    <div class="cmt_detail_infor">
                        <div class="cmt_detail_infor_top">
                            <strong>
                            </strong>
                            <span> -
                            </span>
                        </div>
                        <!-- <p><?php echo $rows['content'] ?></p> -->
                        <hr>
                    </div>
                </div>

                <div class="pagination_cmt">
                    <i class='fa fa-angle-left'></i>
                    <ul></ul>
                    <i class='fa fa-angle-right'></i>

                    <input id="index_page_cmt" type="text" value="1" hidden>
                </div>

            </div>
        </div>
    </div>
    <div class="product_involve">
        <div class="title">
            <h2>Sản phẩm tương tự</h2>
        </div>
        <ngx-slick-carousel class="carousel" #slickModel="slick-carousel" [config]="productInvolveSlideConfig">

            <div ngxSlickItem class="list_involve" *ngFor="let p of productByCate">
                <div class="card">
                    <a>
                        <div class="img">
                            <img src="{{ p.image }}" alt="">
                        </div>
                    </a>
                    <div class="txt">
                        <p>{{ p.product_name }}</p>
                        <div class="price_bt">
                            <div class="price">
                                <span class="old">{{ formatCurrency(p.price) }}</span>
                                <span class="new" id="new_price">
                                    {{formatCurrency(p.price - (p.price * p.discount / 100))}}
                                </span>
                            </div>
                            <div class="bt">
                                <button>MUA NGAY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>