<div class="main-register">
    <form action="">
        <div class="main-form-register">
            <h3>Đăng ký</h3>
            <input type="text" placeholder="Nhập email của bạn...">
            <input type="text" placeholder="Nhập tên tài khoản...">
            <input type="password" placeholder="Nhập mật khẩu...">
            <input type="password" placeholder="Xác nhận mật khẩu...">
            <button>Đăng ký</button>
            <p id="orLogin">Hoặc</p>
            <a routerLink="" id="loginWithGoogle">
                <img src="assets/image/logo-google.png" alt="">
                Đăng nhập bằng google
            </a>
            <div id="register">
                <span>Bạn đã có tài khoản? </span> <a routerLink="/login"> Đăng nhập</a>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>
