.main-register{
    width: 100%;
    height: 700px;
    background-image: url("https://res.cloudinary.com/dcalzi23m/image/upload/v1649166998/945dd8f2da4d15134c5c_b1qjmu.jpg");
    margin: 40px 0;
    display: flex;
    align-items: center;
}
.main-register form{
    background-color: #fff;
    width: 400px;
    margin:auto;
    height: 80%;
    display: block;
    border-radius: 7px;
}
.main-form-register{
    display: block;
    width: 85%;
    margin: auto;
    margin-top: 25px;
}
.main-form-register h3{
    font-size: 25px;
    margin: 30px 0;
    display: block;
}
.main-form-register input[type="text"], .main-form-register input[type="password"], .main-form-register button{
    width: 100%;
    margin: 25px 0;
    padding: 9px 0;
    border: 1px solid #c5c5c5;
    display: block;
}
.main-form-register input{
    text-indent: 15px;
}
.main-form-register button{
    background-color: #000;
    color: #fff;
}
.main-form-register img{
    width: 24px;
}
.sub-action{
    display: flex;
    justify-content: space-between;
}
#orLogin{
    text-align: center;
    position: relative;
    color: #666;
}
#orLogin::before{
    content: "";
    width: 145px;
    height: 1px;
    background-color: #c5c5c5;
    position: absolute;
    top: 10px;
    left: 0;
}
#orLogin::after{
    content: "";
    width: 145px;
    height: 1px;
    background-color: #c5c5c5;
    position: absolute;
    top: 10px;
    right: 0;
}
#loginWithGoogle{
    border: 1px solid;
    padding: 8px 0;
    width: 100%;
    display: block;
    text-align: center;
}
#register{
    text-align: center;
    margin-top: 25px;
}