<div class="container_list_product">
    <main>
        <section class="mid">
            <div class="left">
                <div class="filter_toggle">
                    <h3>BỘ LỌC</h3>
                </div>
                <aside class="filter">

                    <form action="" method="GET">
                        <h3>Khoảng Giá</h3>
                        <div class="filter_by_price">
                            <input id="min_price" autocomplete="off" type="number" name="min_price" placeholder="Từ">
                            <input id="max_price" autocomplete="off" type="number" name="max_price" placeholder="Đến">
                        </div>
                        <div class="filter">
                            <button type="button" (click)="filterByPrice()">ÁP DỤNG</button>
                        </div>
                        <h3>Theo thương hiệu</h3>
                        <div class="filter_by_brand">
                            <div class="brand" *ngFor="let cate of listCate">
                                <input type="checkbox" id="brand_{{ cate.cate_id }}" value="{{ cate.cate_id }}">
                                {{ cate.cate_name }}
                            </div>
                        </div>
                        <h3>Theo giới tính</h3> <br>
                        <div class="gender">
                            <input id="nam" type="checkbox" name="gender" value="0"> <span>Nam</span>
                            <input id="nu" type="checkbox" name="gender" value="1"> <span>Nữ</span>
                        </div>
                    </form>
                </aside>


                <aside class="best_viewer">
                    <h3>Xem nhiều nhất</h3>
                    <div class="main_best_viewer">
                        <article class="most_viewed_product" *ngFor="let v of listProductByView">
                            <div class="img_most_viewed_product">
                                <a routerLink="?action=detail&id_pr=<?php echo $rows['product_id'] ?>">
                                    <img src="{{ v.image }}" alt="">
                                </a>
                            </div>
                            <div class="price_most_viewed_product">
                                <div class="product_name_most_viewed_product">
                                    <a routerLink="">{{ v.product_name }}</a>
                                </div>
                                <div class="price">
                                    <p class="oldprice" *ngIf="v.discount">{{ formatCurrency(v.price) }}</p>
                                    <p class="newprice">{{ formatCurrency(v.price - (v.price * v.discount / 100)) }}</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--  -->
                </aside>
            </div>
            <div class="main_right">
                <h1>SẢN PHẨM <span id="count_products"></span></h1> <span class="result_product_length" *ngIf="listProduct">( Tìm thấy {{ listProduct.length }} sản phẩm phù hợp )</span>
                <select name="" (input)="sortBy($event)" id="sort-by">
                    <option value="0">Sắp xếp theo</option>
                    <option value="1">Mới nhất</option>
                    <option value="2">Giá từ thấp đến cao</option>
                    <option value="3">Giá từ cao đến thấp</option>
                </select>
                <div class="right">
                    <article class="product"
                        *ngFor="let p of listProduct | paginate: {itemsPerPage: 9, currentPage: page}">
                        <div class="product_img">
                            <a routerLink="/product/{{ p.id }}">
                                <img src="{{ p.image }}" alt="">
                            </a>
                        </div>
                        <div class="product_name">
                            <p>{{ p.product_name }}</p>
                        </div>

                        <div class="text_product">
                            <div class="sale">
                                <span class="new_price">{{ formatCurrency(p.price - (p.price * p.discount / 100))
                                    }}</span>
                                <span class="old_price" *ngIf="p.discount">{{ formatCurrency(p.price) }}</span>
                            </div>
                            <a routerLink="/product/{{ p.id }}">Xem chi tiết</a>
                        </div>
                    </article>
                </div>
                <div class="listBtnPage" *ngIf="listProduct && listProduct.length > 9">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>


                <aside class="best_viewer">
                    <h3>Xem nhiều nhất</h3>
                    <div class="main_best_viewer">
                        <article class="most_viewed_product">
                            <div class="img_most_viewed_product">
                                <a routerLink="">
                                    <img src="" alt="">
                                </a>
                            </div>
                            <div class="price_most_viewed_product">
                                <div class="product_name_most_viewed_product">
                                    <a routerLink="">
                                    </a>
                                </div>
                                <div class="price">
                                    <p class="oldprice">

                                    </p>
                                    <p class="newprice">

                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
            </div>
        </section>

        <p id="filter_at_home" style="display: none">
        </p>
    </main>
</div>